html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #f2f2f2;
  font-family: helvetica; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  width: 750px;
  margin-top: 100px; }

.item-input {
  height: 100px !important;
  border-radius: 5px !important;
  font-size: 30px !important; }

.grocery-cell {
  padding: 0 15px 0 0;
  margin-bottom: 5px; }

.grocery-item {
  background: rgba(18, 25, 28, 0.6);
  padding: 0 15px 0 15px;
  height: 100px;
  color: #fff;
  font-size: 40px;
  line-height: 100px;
  border-radius: 5px; }
  .grocery-item p {
    display: inline-block; }
  .grocery-item input {
    line-height: 100px;
    vertical-align: 10px;
    margin-right: 20px;
    float: left; }

#delete {
  float: right; }

#comments-tab {
  float: right;
  margin-right: 50px;
  font-size: 14px; }

#addtab {
  font-size: 14px; }

.new-comment {
  display: none; }
  .new-comment textarea {
    border-radius: 5px;
    border: 1px solid #0abefa;
    margin: 0; }

.comment-list {
  display: none; }
  .comment-list ul {
    margin-left: -15px; }

.comments {
  width: 705px;
  background-color: rgba(53, 238, 254, 0.5);
  color: #000;
  height: 100px;
  line-height: 100px;
  border-radius: 5px;
  border: 1px solid #2afa00; }
  .comments p {
    vertical-align: middle; }
